In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
def ODI_bowlers_ranking(url):
    
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    a = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    players = []
    for i in soup.find_all('td', class_ = 'table-body__cell rankings-table__name name', limit = 9):
        players.append(i.text.strip('\n'))
    players.insert(0,a)

    b = soup.find('div', class_ = 'rankings-block__banner--nationality').text[2:5]
    team = []
    for i in soup.find_all('span', class_ = 'table-body__logo-text', limit = 9):
        team.append(i.text)
    team.insert(0,b)

    c = soup.find('div', class_ = 'rankings-block__banner--rating').text
    rating = []
    for i in soup.find_all('td', class_ = 'table-body__cell rating', limit = 9):
        rating.append(i.text)
    rating.insert(0,c)
    
    ind = []
    for i in range(1,11):
        ind.append(i)

    odi_bowlers_ranking = pd.DataFrame({'Player': players, 'Team': team, 'Rating': rating}, index = ind)
    return odi_bowlers_ranking

In [5]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
ODI_bowlers_ranking = ODI_bowlers_ranking(url)
ODI_bowlers_ranking

              Player Team Rating
1     Josh Hazlewood  AUS    705
2        Trent Boult   NZ    701
3     Mohammed Siraj  IND    691
4     Mitchell Starc  AUS    686
5        Rashid Khan  AFG    659
6         Adam Zampa  AUS    652
7     Shaheen Afridi  PAK    641
8   Mujeeb Ur Rahman  AFG    637
9    Shakib Al Hasan  BAN    636
10        Matt Henry   NZ    635