In [1]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [2]:
def allrounders(url):
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    players = []
    for i in soup.find_all('td', class_ = 'table-body__cell rankings-table__name name', limit = 9):
        players.append(i.text.strip('\n'))


    a = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    players.insert(0,a)
    players

    team = []
    for i in soup.find_all('span', class_ = 'table-body__logo-text', limit = 9):
        team.append(i.text)
    b = soup.find('div', class_ ='rankings-block__banner--nationality').text.strip('\n')
    team.insert(0,b)

    ratings = []
    for i in soup.find_all('td', class_ = 'table-body__cell rating', limit = 9):
        ratings.append(i.text)

    c = soup.find('div', class_ = 'rankings-block__banner--rating').text
    ratings.insert(0,c)
    
    ind = []
    for i in range(1,11):
        ind.append(i)

    odi_allrounders = pd.DataFrame({'Player': players, 'Team': team, 'Ratings': ratings}, index = ind)
    return odi_allrounders

In [3]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
Odi_Allrounders = allrounders(url)
Odi_Allrounders

              Player Team Ratings
1    Hayley Matthews   WI     373
2     Natalie Sciver  ENG     371
3       Ellyse Perry  AUS     366
4     Marizanne Kapp   SA     349
5        Amelia Kerr   NZ     336
6      Deepti Sharma  IND     322
7   Ashleigh Gardner  AUS     292
8      Jess Jonassen  AUS     250
9           Nida Dar  PAK     232
10    Jhulan Goswami  IND     214